body {
    display: flex;
    background-color: #eaf3ee;
    flex-direction: column;
}

img {
    max-height: 100%;
}

#logoBar {
    display: flex;
    align-items: center;
    height: 22vh;
    width: 100vw;
    justify-content: center;
    position: relative;
}

#hamburgerButton {
    display: none;
}

#magnifyingGlass {
    max-width: 25px;
    margin-right: 5px;
    position: relative;
    top: 10%;
    right: 25%;
    transition: 0.3s;
}

#searchBar {
    width: 15%;
    padding: 5px 0px 5px 5px;
    border: 2px solid black;
    border-radius: 6px;
    position: relative;
    top: 10%;
    right: 25%;
    transition: 0.3s;
}

#userLogo {
    max-width: 45px;
    width: auto;
    height: auto;
    position: relative;
    top: 10%;
    left: 25%;
    transition: 0.3s;
}

#userLogo:hover {
    filter: drop-shadow(2px 3px 3px rgb(0, 0, 0, 0.8));
}

#shoppingCart {
    max-width: 40px;
    width: auto;
    height: auto;
    position: relative;
    top: 10%;
    left: 25%;
    transition: 0.3s;
}

#shoppingCart:hover {
    filter: drop-shadow(2px 3px 3px rgb(0, 0, 0, 0.8));
}

#logo {
    height: 65%;
    width: auto;
    position: absolute;
}


#navigationBar {
    display: flex;
    justify-content: space-around;
    background-color: #696A42;
    height: 8vh;
    width: 100vw;
}

.navigationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    border-color: #8B8C49;
    border-style: none none none solid;
    border-width: 2px;
    transition: 0.3s;
}

#shopButton {
    border-style: none none none;
}

.navigationButton:hover {
    background-color: #8B8C49;
}


#wineButton {
    margin-top: 0.2%;
    background-image: url(assets/Wine\ Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: white;
    height: 190px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#wineButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

#drinkOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-start;
    /* background-color: aqua; */
    height: 100vh;
    width: 100vw;
}

.drinkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: white;
    height: 200px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.drinkButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

#ciderButton {
    background-image: url(assets/Cider\ Background.png);
    background-size: cover;
    background-position: center;
}

#beerButton {
    background-image: url(assets/Beer\ Background.png);
    background-size: cover;
    background-position: center;
}

#seltzerButton {
    background-image: url(assets/Seltzer\ Background.png);
    background-size: cover;
    background-position: center;
}

#cannedCocktailsButton {
    background-image: url(assets/Cocktails\ Background.png);
    background-size: cover;
    background-position: center;
}

#snacksButton {
    background-image: url(assets/Snack\ Background.png);
    background-size: cover;
    background-position: center;
}

#sakeButton {
    background-image: url(assets/Sake\ Background.png);
    background-size: cover;
    background-position: center;
}

#spiritsButton {
    background-image: url(assets/Spirits\ Background.png);
    background-size: cover;
    background-position: center;
}

#mixersButton {
    background-image: url(assets/Mixer\ Background.png);
    background-size: cover;
    background-position: center;
}




/* mobile below here */

@media screen and (max-width: 600px) {
    #navigationBar {
        display: none;
    }

    #mobileDivider {
        width: 100%;
        border: 10px solid #696A42;
    }

    #hamburgerButton {
        display: inline;
        position: relative;
        right: 47%;
        bottom: 30%;

    }

    #searchBar {
        display: none;
    }

    #shoppingCart {
        top: 25%;
        left: 25%;
    }

    #userLogo {
        top: 25%;
        left: 33%;
    }

    #magnifyingGlass {
        top: 25%;
        max-width: 40px;
        right: 30%;
    }



    .drinkButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
        background-color: white;
        height: 190px;
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;

    }

}